.features {
    background-color: black;
    color: white;
    
    &-image {
        width: 100%;
    }

    &-container {
        max-width: 80%;
        padding: 2rem 0;    
    }

    &-title {
        font-size: 1.8rem;
    }

    &-subtitle {
        margin: 1.5rem 0;
        span {
            display: block;
            margin: 1.2rem 0;
        }
    }

    &-btn {
        text-transform: uppercase;
        font-size: 1rem;
        padding: .6rem 2rem;
        background-color: black;
        color: white;
        border: 1px solid white;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .features {
        &-container {
            max-width: 70%;
        }

        &-subtitle {
            margin: 2rem 0;
            
            span {
                display: block;
                margin: 1.4rem 0;
            }
        }
    }
}

@media (min-width: 996px) {
    .features {
        display: flex;
        align-items: center;

        &-container {
            width:40%;
        }

        &-image {
            width: 50%;
        }

        &-btn {
        
            width: auto;
        }
    }
}

@media (min-width: 1200px) {
    .features {
        
        &-container {
            max-width:600px;
        }
    
        &-title {
            font-size: 3rem;
        }

        &-subtitle {
            margin: 3rem 0; 
        }

       
    }
}